<!DOCTYPE html>
<html>
  <head>
    <title>{% if title %}{{ title }} – {% endif %}{{ site.title }}</title>

    <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <meta name="viewport" content="width=550" />
    <script defer src="https://hej.touzen.net/tjena.js" data-website-id="f8a9493f-ff3d-4fdc-ac6d-366f62e27f1c"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
        <header id="home">
            <div id="title">
                <a href="{{ site.baseurl }}/">
                <h1 class="title">
                  /home/thomas
                </h1>
                <p id="byline">phd student and nlp enthusiast</p>
                </a>
            </div>
            <nav>
            <ol>
                <li><a href="{{ site.baseurl }}/">blog<span>_</span></a></li>
                <li><a href="{{ site.baseurl }}/about">about<span>_</span></a></li>
            </ol>
            </nav>
        </header>

    
      </div>
    </div>

    <section id="content">
        {{ content }}
    </section>
    <footer>
        <a target="_blank" href="https://www.linkedin.com/in/thomasvakili/">
        <img src="https://content.linkedin.com/content/dam/me/brand/en-us/brand-home/logos/In-Blue-Logo.png.original.png" alt="LinkedIn logo" />
        </a>
        <a target="_blank" href="https://github.com/Touzen">
        <img class="invert" src="{{ site.url }}/images/github.png" alt="GitHub mark" />
        </a>
        <a href="mailto:thomas.vakili@dsv.su.se">
        <img class="invert" src="{{ site.url }}/images/email.svg" alt="Email icon" />
        </a>
    </footer>

  </body>
</html>
