<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <meta name="viewport" content="width=550" />
  </head>

  <body>
        <header id="home">
            <div id="title">
                <a href="{{ site.baseurl }}/">
                <h1 class="title">
                  /home/thomas
                </h1>
                <p id="byline">phd student and nlp enthusiast</p>
                </a>
            </div>
            <nav>
            <ol>
                <li><a href="{{ site.baseurl }}/">blog<span>_</span></a></li>
                <li><a href="{{ site.baseurl }}/about">about<span>_</span></a></li>
            </ol>
            </nav>
        </header>

    
      </div>
    </div>

    <section id="content">
        {{ content }}
    </section>
    <footer>
        <a target="_blank" href="https://www.linkedin.com/in/thomasvakili/">
        <img src="https://content.linkedin.com/content/dam/me/brand/en-us/brand-home/logos/In-Blue-Logo.png.original.png" alt="LinkedIn logo" />
        </a>
        <a target="_blank" href="https://github.com/Touzen">
        <img class="invert" src="{{ site.url }}/images/github.png" alt="GitHub mark" />
        </a>
        <a href="mailto:thomas.vakili@dsv.su.se">
        <img class="invert" src="{{ site.url }}/images/email.svg" alt="Email icon" />
        </a>
    </footer>

  </body>
</html>
